body {
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-top: 180px;
}
h1{
font-weight: bold;
}

span {
    color: brown;
    font-weight: bolder;
    font-size: xx-large;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    padding: 15px;
    font-size: large;
    width: 450px;
}

button {
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size:medium;
    font-weight: bold;
}

h4 {
    font-size:x-large;
}